* {
    border-radius: 0.5rem;
}

header {
    display: grid;
    grid-template-areas: 'header nav';
    align-items: center;
    justify-items: center;
    color: rgb(4, 39, 10);
}

h1, h3 {
    font-family: 'Libre Caslon Text';
}

header, footer, h3, article, form {
    background-color: lightgray;

}

h3, article, .menu-item {
    padding: 0.5rem;
}

header h1 {
    grid-area: header;
    font-size: 3rem;
    font-weight: lighter;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.menu-item {
    background-color: transparent;
    color: rgb(4, 39, 10);
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0;
    align-content: center;
    box-shadow: 1px 1px 2px 1px rgb(4, 39, 10);
    transition: padding 0.3s linear;
}

.menu-item:hover {
    padding: 1rem;
    transition: padding 0.1s linear;
}

address {
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: space-around;
}

address a {
    color: black;
}

footer {
    text-align: center;
    margin: 1rem 0;
}

/* Estilos sección de index.html */

.index {
    display: grid;
    grid-template-areas: 
                        'taller taller taller'
                        'parrafo1 parrafo1 foto1'
                        'artista artista artista'
                        'foto2 parrafo2 parrafo2';
}

.index img {
    width: 25vw;
    height: auto;
}

.index article, form {
    font-family: 'Merienda';
}

#taller {
    grid-area: taller;
}
#art-taller {
    grid-area: parrafo1;
}
#arania {
    grid-area: foto1;
    transition-property: opacity;
    transition-duration: 1s;
}
#fondo-der {
    font-size: 1vw;
    grid-area: foto1;
    z-index: -1;
}

#artista {
    grid-area: artista;
}
#art-artista {
    grid-area: parrafo2;
    align-self: stretch;
}
#maquillaje {
    grid-area: foto2;
    transition-property: opacity;
    transition-duration: 1s;
}
#fondo-izq {
    font-size: 1vw;
    grid-area: foto2;
    z-index: -1;
}

.index img:hover {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0.2;
}

/* Estilos de galeria.html */

#main {
    display: grid;
    grid-template-areas: 
                        'pintura pintura pintura pintura'
                        'obra1 texto1 obra2 texto2'
                        'escultura escultura escultura escultura'
                        'obra3 texto3 obra4 texto4'
                        'foto foto foto foto'
                        'obra5 texto5 obra6 texto6';
}

#main img {
    width: 30vw;
    height: auto;
}
#main p {
    font-family: 'Dancing Script';
    font-size: 1.5;
}

#pintura {
    grid-area: pintura;
}
img[alt="spiderman"] {
    grid-area: obra1;
}
#spidey {
    grid-area: texto1;
}
img[alt="Sarah-laberinto"] {
    grid-area: obra2;
}
#sarah {
    grid-area: texto2;
}

#escultura {
    grid-area: escultura;
}
img[alt="hada"] {
    grid-area: obra3;
}
#hada {
    grid-area: texto3;
}
img[alt="gusano-laberinto"] {
    grid-area: obra4;
}
#gusano {
    grid-area: texto4;
}

#fotografia {
    grid-area: foto;
}
img[alt="luna"] {
    grid-area: obra5;
}
#luna {
    grid-area: texto5;
}
img[alt="abeja"] {
    grid-area: obra6;
}
#abeja {
    grid-area: texto6;
}

/* Estilos para el formulario */

form {
    text-align: center;
}
form input:not(#otro):not(#mujer):not(#hombre) {
    height: 1.5rem;
    margin: 1rem;
    border: none;
    box-shadow: 1px 1px 2px 1px rgb(4, 39, 10);
}

input:focus, textarea:focus {
    background-color: rgb(247, 255, 139);
    outline-style: none;
}

input[type="radio"]:focus {
    outline: 1px dotted;
}

form div {
    display: block;
}

/* Estilos para ubucacion.html */

.direccion::after {
    content: "";
    background: url("recursos/foto-planta.JPG");
    background-attachment: fixed;
    opacity: 0.5;
    grid-area: direccion;
    z-index: -1; 
    border-radius: 0.5rem;  
}
.direccion {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'mapa direccion';
    margin: 1rem 0;
}

.direccion iframe {
    grid-area: mapa;
    width: 50vw;
    height: 30vw;
}

#dir {
    font-family: 'Satisfy';
    margin-left: 1rem;
    grid-area: direccion;
}




@media screen and (max-width: 600px) {
    header {
        grid-template-areas: 
                            'header' 
                            'nav';
    }
    .index {
        grid-template-areas:
                            'taller taller'
                            'parrafo1 parrafo1'
                            'foto1 fondo1'
                            'artista artista'
                            'parrafo2 parrafo2'
                            'foto2 fondo2';
    }
    .menu-intem {
        margin: 0;
    }
    #fondo-der {
        grid-area: fondo1;
    }
    #fondo-izq {
        grid-area: fondo2;
    }
    h3 {
        font-size: 3vw;
    }
    article, pre {
        font-size: 2vw;
    }
    
    #main {
        grid-template-areas:
        'pintura pintura'
        'obra1 texto1'
        'obra2 texto2'
        'escultura escultura'
        'obra3 texto3'
        'obra4 texto4'
        'foto foto'
        'obra5 texto5'
        'obra6 texto6';
    }

    form, *[placeholder] {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 980px) {
    #art-taller, #art-artista {
        font-size: 1.5vw;
    }
}